<div class="row space-top">
    <div class="col-md-12">
        <h1>Welcome to Furniture System</h1>
        <p>Select furniture from the catalog to view details.</p>
    </div>   
</div>

<div class="row space-top">
    {{#each furnitures}}
    <div class="col-md-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <blockquote class="card-blockquote">
                    <img src="{{{image}}}" width="96px" height="96px" />
                    <p>{{description}}</p>
                    <footer>{{make}} 
                        <cite title="Source Title">{{model}}</cite>
                    </footer>
                    <div class="pull-right">
                        <a href="#/furniture/details?id={{_id}}" class="btn btn-info">Details</a>
                        {{#if ../mine}}
                        <a href="#/furniture/delete?id={{_id}}" class="btn btn-danger">Delete</a>
                        {{/if}}
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    {{/each}}
</div>
