<div class="ad-box">
    <div class="title" data-id="{{_id}}">
        {{title}}
        {{#if isAuthor}}
        <button class="ad-control delete">&#10006</button>
        <button class="ad-control edit">&#9998</button>
        {{/if}}
    </div>
    <div>
        <img src="{{imageUrl}}"/>
    </div>
    <div> Price: {{price}} | By {{publisher}}</div>
</div>
