<div class="my-listing">
    <p id="listing-title">{{title}}</p>
    <img src="{{imageUrl}}">

    <div class="listing-props">
        <h2>Brand: {{brand}}</h2>
        <h3>Model: {{model}}</h3>
        <h3>Year: {{year}}</h3>
        <h3>Price: {{price}}$</h3>
    </div>
    <div class="my-listing-buttons">
        <a class="my-button-list" href="#/cars/details/{{_id}}">Details</a>
        <a class="my-button-list" href="#/cars/edit/{{_id}}">Edit</a>
        <a class="my-button-list" href="#/cars/delete/{{_id}}">Delete</a>
    </div>
</div>
